/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "twitter/bootstrap";
@import "twitter/bootstrap/responsive";

body {
    background: #b00000 url('../img/noise.png');
    min-height: 480px;
}

header {
    margin-bottom: 20px !important;
}

[class*='span'] {
    @include box-sizing(border-box);
}

.center {
    text-align: center;
}

img#logo-big {
    display: block;
    margin: 30px auto;
    height: 100px;
}

//iPhone 5 and below
@media (max-width: 568px) {
}
