/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "twitter/bootstrap";
@import "twitter/bootstrap/responsive";

body {
    background: #b00000 url('../img/noise.png');
    min-height: 480px;
}

header {
    margin-bottom: 20px !important;
}

[class*='span'] {
    @include box-sizing(border-box);
}

.white {
    color: #fff;
}

.center {
    text-align: center;
}

.btn-xlarge {
    box-sizing: border-box;
    padding: 70px 40px 40px 40px;
    width: 200px;
    height: 200px;
    max-width: 100%;
    font-size: 160px;
}

img#logo-big {
    display: block;
    margin: 60px auto;
    height: 100px;
}

form.appt .btn-group .btn {
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
}

.pending, .declined, .approved {
    display: inline-block;
    border-radius: 200px;
    width: 12px;
    height: 12px;
}

.pending {
    background: #b58900;
}

.declined {
    background: #dc322f;
}

.approved {
    background: #859900;
}

@media (max-width: 568px) {
    .navbar h3 {
        text-align: center;
    }
}
