/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

// Bootstrap customizations
$linkColor: #c40000;

@import "twitter/bootstrap";
@import "twitter/bootstrap/responsive";

// Font definitions
@font-face {
    font-family: 'Franchise';
    src: asset-url('Franchise-Bold.ttf', font);
}

body {
    background: #b00000 image-url('noise.png');
    min-height: 480px;
}

header {
    margin-bottom: 20px !important;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    &:focus {
        border-color: rgba(196,83,83,.8);
        @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(196,83,83,.6));
    }
}
    
[class*='span'] {
    @include box-sizing(border-box);
}

.navbar-inner {
    position: relative;
}

.center {
    @include box-sizing(border-box);
    position: absolute;
    float: none !important;
    pointer-events: none;
    width: 100%;
    text-align: center;
}

.logo-text {
    font-family: 'Franchise';
}

img#logo-big {
    display: block;
    margin: 30px auto;
    height: 100px;
}

//iPhone 5 and below
@media (max-width: 568px) {
}
