// Place all the styles related to the Appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
    &#new_appointment {
        .btn-group .btn {
            padding: 20px;
            font-size: 30px;
            font-weight: bold;
        }
    }
}
