form {
    input {
        &[type=email], &[type=password] {
            box-sizing: border-box;
            width: 100%;
            height: 28px;
        }
    }

    label {
        display: inline;
        vertical-align: text-top;
    }
}

[class*='span'] {
    border-radius: 5px;
    padding: 20px;
    background: white;
}
